server:
  port: 8080

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_serv"
    username: root
    password: mysql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
