server:
  port: 8080

#spring:
#  datasource:
#    url: "jdbc:mysql://localhost:3306/identity_serv"
#    username: root
#    password: mysql
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true

spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/demo"
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
